/*style*/

@font-face { 
    font-family: Delicious; 
    src: url('Pixelify_Sans/PixelifySans-VariableFont_wght.ttf'); 
} 
 
@font-face { 
    font-family: Delicious; 
    font-weight: bold; 
    src: url('Pixelify_Sans/PixelifySans-VariableFont_wght.ttf');
}

body {
    background-color: black;
    display: flex;
    height: 100vh;
    font-family: 'Delicious', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

#dx {
    color: #20C20E;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.text {
    flex: 1;
    font-size: 100px;
    font-weight: 900;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    flex: 3;
    margin: 20px;
    padding: 20px;
    background-color: black;
    border: 4px solid #20C20E;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label {
    font-size: 30px;
}

input {
    font-family: "Delicious";
    background-color: black;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-size: 35px;
}

button {
    font-family: "Delicious";
    width: 100px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}


