/*style*/

body {
    background-color: black;
    display: flex;
}

video {
    opacity: 30%;
}

#text {
    min-width: 55%;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}